---
export const prerender = true;

import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator}>
		<style is:inline>
			@media (prefers-reduced-motion: no-preference) {
				@view-transition {
					navigation: auto;
				}
			}
		</style>

		<link rel="sitemap" href="/sitemap-index.xml">
	</head>
	<body
		class="min-h-dvh antialiased flex flex-col bg-stone-50 dark:bg-stone-950 text-stone-900 dark:text-stone-100"
	>
		Hello, World!
	</body>
</html>
